<div class="modal fade" id="reserva">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <span class="modal-title font-weight-bold">Reserva de Passeios e Excursões</span>
         </div>
         <div class="modal-body">
            <form novalidate action="">
               <fieldset>
                  <legend class="font-weight-bold">Informações Pessoais</legend>
                  <div class="form-group row">
                     <label for="nome" class="col-form-label col-lg-2 text-lg-right font-weight-bold">Nome</label>
                     <div class="col-lg-10">
                        <input required type="text" class="form-control form-control-sm" placeholder="Informe seu nome" name="nome" id="nome">
                        <div class="invalid-feedback">
                           Este campo deve ser preenchido.
                        </div>
                     </div>
                  </div>

                  <div class="form-group row">
                     <label class="col-form-label col-lg-2  text-lg-right font-weight-bold">Sexo</label>
                     <div class="col-lg-10">
                        <div class="form-check">
                           <input type="radio" class="form-check-input is-invalid" name="sexo" id="sexo-masc" value="M">
                           <label class="form-check-label" for="sexo-masc">Masculino</label>
                        </div>
                        <div class="form-check">
                           <input type="radio" class="form-check-input is-invalid" name="sexo" id="sexo-fem" value="F">
                           <label class="form-check-label" for="sexo-fem">Feminino</label>
                        </div>
                        <div class="invalid-feedback d-block">
                           Este campo deve ser preenchido.
                        </div>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="endereco" class="col-form-label col-lg-2  text-lg-right font-weight-bold">Endereço</label>
                     <div class="col-lg-10">
                        <input type="text" class="form-control form-control-sm is-valid" name="endereco" id="endereco">
                        <div class="invalid-feedback">
                           Este campo deve ser preenchido.
                        </div>
                     </div>
                  </div>
               </fieldset>

               <fieldset>
                  <legend class="font-weight-bold">Informações de Passeios e excursões</legend>

                  <div class="form-group row">
                     <label for="passeio" class="col-form-label col-lg-2 text-lg-right font-weight-bold">Passeio</label>
                     <div class="col-lg-10">
                        <select class="form-control form-control-sm" name="passeio" id="passeio">
                           <option value="">-- Selecione um passeio --</option>
                           <option value="1">Ciclovia</option>
                           <option value="2">Copacabana</option>
                           <option value="3">Cristo Redentor</option>
                           <option value="4">Arcos da Lapa</option>
                           <option value="5">Pão de Açucar</option>
                           <option value="6">Maracanã</option>
                        </select>
                     </div>
                  </div>

                  <div class="form-group row">
                     <label for="passeios" class="col-form-label col-lg-2 text-lg-right font-weight-bold">Passeios</label>
                     <div class="col-lg-10">
                        <select class="form-control form-control-sm" size="5" name="passeios" id="passeios">
                           <option value="1">Ciclovia</option>
                           <option value="2">Copacabana</option>
                           <option value="3">Cristo Redentor</option>
                           <option value="4">Arcos da Lapa</option>
                           <option value="5">Pão de Açucar</option>
                           <option value="6">Maracanã</option>
                        </select>
                     </div>
                  </div>

                  <div class="form-group row">
                     <label class="col-form-label col-lg-2 text-lg-right font-weight-bold">Excursões</label>
                     <div class="col-lg-10">
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="ilha" id="ilha">
                           <label class="form-check-label" for="ilha">Ilha Grande</label>
                        </div>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="paraty" id="paraty">
                           <label class="form-check-label" for="paraty">Paraty</label>
                        </div>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" name="buzios" id="buzios">
                           <label class="form-check-label" for="buzios">Buzios e Arraial do Cabo</label>
                        </div>
                     </div>
                  </div>

                  <div class="form-group row">
                     <div class="col-lg-10 offset-lg-2">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                     </div>
                  </div>
               </fieldset>
            </form>
         </div>
      </div>
   </div>
</div>